  <form action='/encrypt' method='post'>
    Type the message you want to encrypt:
     <input type='text' name='message'>
     <input type='submit' value='encrypt'>
  </form>

  <form action='/decrypt' method='post'>
    Type the message you want to decrypt:
     <input type='text' name='message'>
     <input type='submit' value='decrypt'>
  </form>
